body{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
.contenedor_flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    background-color: palevioletred;
}

.sidebar{
    background-color:rgb(80, 3, 99);
    margin-top: 0px ;
    padding-top: 30px;
    box-sizing: border-box;
    left: 0;
    width: 250px;
    height: 100%;
}
.foto_perfil{
    width: 100px;
    height: 100px;
    
    border-radius: 100px;
    margin-bottom: 10px;
}

h1{
    
    color: rgb(3, 179, 62);
    margin-top: 0;
    
    text-align: center;
    margin-bottom: 20px;
}
h2{
    color: rgb(3, 179, 62);
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
}
.sidebar a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    margin-left: 30px;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
}


